# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

*.log
*.tlog
*.ipch
*.db-shm
*.db-wal
*.opendb
*.db
*.lock
*.vsidx
*.pdb
steam-sample-app/steamworksexample/.vs
.vscode/settings.json
